*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}


.quote-box{
    text-align: center;
}

.quote-box h1 {
    font-size: 80px;
    font-family: Impact;
}

.quote-box button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all 0.3s;
}

.quote-box p{
    font-size: 30px;
}

.quote-box button:hover{
    background-color: green;
}


